<nav class="bg-blue-600 p-4 text-white">
    <ul class="flex justify-around">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/patient" class="hover:underline">Patients</a></li>
        <li><a href="/appointment" class="hover:underline">Appointments</a></li>
        <li><a href="/medicalrecords" class="hover:underline">Medical Records</a></li>
        <li><a href="/prescription" class="hover:underline">Prescriptions</a></li>
        <li><a href="/labtests" class="hover:underline">Lab Tests</a></li>
        <li><a href="/doctor" class="hover:underline">Doctors</a></li>
        <li><a href="/reports" class="hover:underline">Reports</a></li>
    </ul>
</nav>
